<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="login">
			<a href="{{url_for('showCategories')}}">
				<span aria-hidden="true"></span>Show All Categories
			</a>
			{%if 'username' not in session %}
				<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
				<a href="{{url_for('gdisconnect')}}">Logout </a>
			{% endif %}
		</div>
		<h2> Are you sure you want to delete {{item.name}}? </h2>

		<form action="#" method = 'post'>

			<button type="submit" id="submit" type="submit">
			<span aria-hidden="true"></span>Delete</button>
			<a href = '{{url_for('showCategories')}}'>
				<button>
				<span aria-hidden="true"></span> Cancel</button>
			</a>

		</form>
	</body>
</html>