<!DOCTYPE html>
<html>
<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>
<div class="login">
		<a href="{{url_for('showCategories')}}">
			<span aria-hidden="true"></span>Show All Categories
		</a>
		{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
		{% else %}
			<a href="{{url_for('gdisconnect')}}">Logout </a>
		{% endif %}
	</div>
<h1>Edit {{category.name}}</h1>

<form action="{{ url_for('editCategory',category_id = category.id)}}" method = "post">
		<label for="name">Name:</label>
		<input type ="text" class="form-control" name="name" value="{{category.name }}">
		<button type="submit"id="submit" type="submit">
		<span></span>Save</button>
		<a href = '{{url_for('showCategories')}}'>
			<button class="btn btn-default delete">
			<span></span> Cancel</button>
		</a>
</form>



</body>
</html>